body {
background-image: url(/Project/Pictures/projectbg.jpg);
}
h2{
    position: relative;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    letter-spacing: 0.02em;
    text-align: center;
    text-shadow: 0 0 0.15em #ff00e6;
    user-select: none;
    margin-top: 150px;
    white-space: nowrap;
}

a{
    width: 200px;
    height: 50px;
    margin: 0 auto;
    display: block;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
font-size: 40px;
color: rgb(254, 254, 254);
text-shadow: 0 0 0.15em #ff00ff;

}
a:hover{
    color: rgb(236, 108, 229);
}