p{
    position: relative;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: rgb(10, 10, 10);
    letter-spacing: 0.02em;
    text-align: center;
    text-shadow: 0 0 0.15em #00e3f3;

}

body {
    position:sticky ;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: rgb(19, 19, 19);
    text-align: center;
    text-shadow: 0 0 0.15em #00e3f3;
background-image: url(/Project/Pictures/istockphoto-1325680818-170667a.jpg);
}