b {
    position: relative;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: rgb(10, 10, 10);
    letter-spacing: 0.02em;
    text-align: center;
    text-shadow: 0 0 0.15em #0081f3;
    white-space: nowrap;
    filter: blur(0.009em);
    animation: shake 2s linear forwards;
}
p{    position: relative;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: rgb(10, 10, 10);
    letter-spacing: 0.02em;
    text-align: center;
    text-shadow: 0 0 0.15em #0081f3;
}
body{ background-image: url(/Project/Pictures/contact.jpeg);
}